<div class="card my-4">
    <h1 class="p-3 m-0">Hola, user</h1>
</div>
<div class="card my-4">
    <div class="card-body body-information">
        <div class="information">
            <h2 class="p-3 m-0" [routerLink]="['/user/profile/info']"> <i class="fas fa-angle-right mx-2"></i> Informacion Personal</h2>
        </div>
        <div class="information">
            <h2 class="p-3 m-0" [routerLink]="['/user/profile/myshopping']"> <i class="fas fa-angle-right mx-2"></i>Mis compras</h2>
        </div>
        <div class="information">
            <h2 class="p-3 m-0" [routerLink]="['/user/profile/myaddress']"> <i class="fas fa-angle-right mx-2"></i>Direcciones</h2>
        </div>
        <div class="information">
            <h2 class="p-3 m-0" [routerLink]="['/user/profile/mypaymentmethod']"> <i class="fas fa-angle-right mx-2"></i>Metodos de pago</h2>
        </div>
        <div class="information">
            <h2 class="p-3 m-0"[routerLink]="['/visitor/home']"><i class="fas fa-angle-right mx-2"></i>Cerrar sesion</h2>
        </div>
    </div>
</div>