<div class="card my-4">
    <h1 class="p-3 m-0">Hola, user</h1>
</div>
<div class="card my-4">
    <div class="card-body body-information">
        <div class="information">
            <h2 class="p-3 m-0" [routerLink]="['/user/profile/info']">Informacion Personal</h2>
        </div>
        <div class="information">
            <h2 class="p-3 m-0" [routerLink]="['/user/profile/myshopping']">Mis compras</h2>
        </div>
        <div class="information">
            <h2 class="p-3 m-0" [routerLink]="['/user/profile/myaddress']">Direcciones</h2>
        </div>
        <div class="information">
            <h2 class="p-3 m-0">Metodos de pago</h2>
        </div>
        <div class="information">
            <h2 class="p-3 m-0">Mis compras</h2>
        </div>
    </div>
</div>