/* img {
    width: 50px;
  }
  .brand-name {
    color: #ffffff;
    font-size: 30px;
    font-family: "Roboto";
    margin-bottom: 0px;
  }
  .nav-link {
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto";
    margin-bottom: 0px;
  }
  .navbar-items{
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 1;
    border-width: 1px ;
    border-color: #ffffff;
  }
  .navbar-search{
    border-left-style: solid;
    padding-left: 1;
    border-width: 1px ;
    border-color: #ffffff;
  }
  .navbar-menu{
    border-color: black;
  }

  .search{
    margin:auto;;
  }
 
  .fa-solid{
    font-size: 15px;
  }
  .shoping-cart {
    color: #ffffff;
    font-size: 24px;
  }
  .navbar {
    background-color: #8A47B9;
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
    border-color: #c4c4c4;
  }
  .fa-cart-shopping{
    background-color: #ffffff;
  }
 
  /*----------  ---------*/
  .navbar {
    background-color: #9100F5;
  }
  .form-search {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .btn-search {
    background-color: #F2F3F4;
  }
  .h1 {
    cursor: pointer;
    color: white;
  }
  .btn-menu {
    background-color: white;
    color: #9100F5;
    padding: 0px 8px 0px 8px;
    font-size: x-large;
    margin-right: 10px;
    border-right-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
  }
  .fa-shopping-cart {
    color: white;
    font-size: xx-large;
    margin-bottom: 10px;
  }
  .shopping-r {
    color: white;
    font-size: xx-large;
    margin-bottom: 10px;
  }
  .user-r {
    color: white;
    font-size: xx-large;
    margin-bottom: 10px;
  }

  .letter{
    color: white;
    font-size:15px;
    margin-top: 20px;
  }
  
  @media (max-width: 1040px) {
    .letter {
        display: none;
    }
    .fa-shopping-cart{
      display: none;
    }
  }

  @media (max-width: 1040px) {
    .form-search{
      max-width: 100%;
    }
  }
  @media (max-width: 1040px) {
    .user-r{
      display: block;
    }
    .shopping-r{
      display: block;
    }
  }
  @media (min-width: 1040px) {
    .user-r{
      display: none;
    }
    .shopping-r{
      display: none;
    }
  }
 /*---------- off canvas start ---------*/
 .offcanvas-header{
   background-color:#F2F3F4;
 }
