
    <nav class="navbar">

    <div class="container-fluid d-none d-lg-flex">
        <div class="d-flex align-items-center">
            <div class="h1 c-mouse-selected me-2">Ekomerce</div>
            <button class="btn btn-menu bc-mouse-selected bc-mouse-focus btn-no-shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#categoryCanvas" aria-controls="categoryCanvas">
                <span><i class="fas fa-bars"></i></span>
            </button>
        </div>
        <form class="form-search-d">
            <div class="input-group">
                <input class="form-control btn-no-shadow" type="search" placeholder="Buscar producto" aria-label="Search" aria-describedby="searchButton">
                <button class="btn btn-search bc-mouse-selected btn-no-shadow" type="button" id="searchButton"> 
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
        </form>
        <div class="d-flex align-items-center">
            <div class="h5 c-mouse-selected" [routerLink]="['/user/profile']">Bienvenid@, user</div>
            <div class="h5 c-mouse-selected" [routerLink]="['/visitor/register']">Mis compras</div>
            <span><i type="button" class="fas fa-shopping-cart c-mouse-selected mr-rem" [routerLink]="['/user/basket']"></i></span>
        </div>
    </div>

    <!-- responsive start -->
    <div class="container-fluid d-bloc d-lg-none">
        <div class="d-flex align-items-center mb-1">
            <button class="btn btn-menu bc-mouse-selected bc-mouse-focus btn-no-shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#categoryCanvas" aria-controls="categoryCanvas">
                <span><i class="fas fa-bars"></i></span>
            </button>
            <div class="h1 c-mouse-selected ms-2">Ekomerce</div>
        </div>
        <div class="d-flex align-items-center">
            <span><i type="button" class="fas fa-user c-mouse-selected" [routerLink]="['/visitor/login']"></i></span>
            <span><i type="button" class="fas fa-shopping-cart c-mouse-selected"></i></span>
        </div>
        <form class="form-search-r">
            <div class="input-group">
                <input class="form-control btn-no-shadow" type="search" placeholder="Buscar producto" aria-label="Search" aria-describedby="searchButton">
                <button class="btn btn-search bc-mouse-selected btn-no-shadow" type="button" id="searchButton"> 
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
        </form>
    </div>
    <!-- responsive end -->

</nav>



<div class="offcanvas offcanvas-start" tabindex="-1" id="categoryCanvas" aria-labelledby="categoryCanvasLabel">
  <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvasExampleLabel">Categorias</h4>
      <span type="button" class="material-icons button-close" data-bs-dismiss="offcanvas" aria-label="Close">close</span>
  </div>
  <div class="offcanvas-body p-1">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node class="ps-3" *matTreeNodeDef="let node" matTreeNodePadding>
            <button class="product-name"  mat-icon-button disabled></button>
            <div type="button" [routerLink]="['/user/category']" class="sub-category-name" >{{node.name}}</div>
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <div class="category-name">{{node.name}}</div>
          </mat-tree-node>
        </mat-tree>
  </div>
</div>

<router-outlet></router-outlet>
