img {
    width: 50px;
  }
  .brand-name {
    color: #ffffff;
    font-size: 30px;
    font-family: "Roboto";
    margin-bottom: 0px;
  }
  .nav-link {
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto";
    margin-bottom: 0px;
  }
  .navbar-items{
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 1;
    border-width: 1px ;
    border-color: #ffffff;
  }
  .navbar-search{
    border-left-style: solid;
    padding-left: 1;
    border-width: 1px ;
    border-color: #ffffff;
  }
  .navbar-menu{
    border-color: black;
  }

  .search{
    margin:auto;;
  }
 
  .fa-solid{
    font-size: 15px;
  }
  .shoping-cart {
    color: #ffffff;
    font-size: 24px;
  }
  .navbar {
    background-color: #8A47B9;
    border-bottom-style: solid;
    padding-bottom: 1;
    border-width: 1px ;
    border-color: #c4c4c4;
  }
  .fa-cart-shopping{
    background-color: #ffffff;
  }
 
  /*---------- off canvas start ---------*/
  .offcanvas-start {
    width: 100%;
  }
  .offcanvas-title {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .accordion-header {
    margin: 0px;
  }
  .accordion-body {
    padding: 0px;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  /*----------- off canvas end ----------*/
  @media (max-width: 350px) {
    h2 {
      display: none;
    }
  }
  /* .navbar {
      position: sticky;
      top: 0%;
    } */
  