
.button-add-address{
    justify-content:center;
    align-items:center;
    display: flex;
}
.button-add-other-address{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top:20px 
}
.btn-add-address{
    color: white;
    background-color: #9100F5;
}
///myadress////
.address{
    margin: 0px;
    padding: 20px;
}


/////edit///
.button-edit{
    justify-content:flex-end;
    align-items:center;
    display: flex;
    margin-right: 10px;
}
