<div *ngIf="addressExist" class="card-body">
  <div class="address-content">
    <i class="far fa-address-book"></i>
    <h4 class="direction-description">Agrege una nueva dirección</h4>
    <div>
      <div class="button-add-address">
        <button type="button" class="btn btn-add-address" data-bs-toggle="modal" data-bs-target="#addAddressModal">Agregar Dirección</button>
      </div>
    </div>
  </div>
 
</div>

<div *ngIf="!addressExist" class="d-flex flex-column justify-content-between card-body">
  <div class="card">
    <div>
      <div class="row">
        <div class="col">
          <h4 class="address">Calle colo-colo, concon, valparaiso</h4> 
        </div>
    
        <div *ngIf="!addressExist" class="col button-edit">
          <i type="button" class="far fa-trash-alt mx-3" data-bs-toggle="modal" data-bs-target="#deleteAddress"></i>
          <i type="button" class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#chgAddressModal"></i>
        </div>
      </div>
      
    </div>
  </div>
  <div class="button-add-other-address">
    <button type="button" class="btn btn-add-address" data-bs-toggle="modal" data-bs-target="#addAddressModal">Agregar otra Dirección</button>
  </div>
</div>

<!-- -------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
-------------------------------------------------- Change Address ------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
-->

<div class="modal fade" id="chgAddressModal" tabindex="-1" aria-labelledby="chgAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changeDirectionLabel">Cambiar dirección</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form [formGroup]="chgAddressForm" (ngSubmit)="onSubmitChgAddress()">

				<div class="modal-body">

					<div class="form-floating mb-3">
						<select type="select" (change)="selectChgRegion()" [ngClass]="{'is-invalid': chgAddressForm.value.region === '' && tryOnSubmit}" class="form-select" formControlName="region" aria-label="Floating label select region" [value]="regionsAndCommunes.name" #region required>
							<option *ngIf="chgAddressForm.value.region === ''" selected disabled>Selecione una región</option>
							<option *ngFor="let region of regionsAndCommunes">
								{{region.name}}
							</option>
						</select>
						<label for="floatingSelect">Región *</label>
						<div class="invalid-feedback">Seleccione una región</div>
					</div>

					<div class="form-floating mb-3">
						<select type="select" [ngClass]="{'is-invalid': chgAddressForm.value.commune === '' && tryOnSubmit}" class="form-select" formControlName="commune" aria-label="Floating label select commune" [value]="commune" #commune required>
							<option *ngIf="chgAddressForm.value.region === ''" selected disabled>Primero seleccione una región</option>
							<option *ngIf="chgAddressForm.value.region  !== ''" selected disabled>Selecione una comuna</option>
							<option *ngFor="let commune of communes">
								{{commune}}
							</option>
						</select>
						<label for="floatingSelect">Comuna *</label>
						<div class="invalid-feedback">Seleccione una comuna</div>
					</div>
		
					<mat-form-field appearance="outline">
						<mat-label>Codigo postal</mat-label>
						<input type="tel" formControlName="postcode" matInput [maxLength]="7" #postcode placeholder="Ex. 9410511" required>
						<mat-hint align="end">{{postcode?.value?.length}} / 7</mat-hint>
					</mat-form-field>
		
					<mat-form-field appearance="outline">
						<mat-label>Calle</mat-label>
						<input formControlName="street" matInput #street placeholder="Av. Colo-Colo" required>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Número</mat-label>
						<input formControlName="number" matInput #number placeholder="1919" required>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Departamento</mat-label>
						<input formControlName="apartment" matInput #apartment placeholder="Bloque A N°20">
					</mat-form-field>

	  		</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-save">Guardar</button>
				</div>
			</form>
		</div>
  </div>
</div>

<!-- -------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
---------------------------------------------------- Add Address ------------------------------------------------------- 
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
-->

<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changeDirectionLabel">Agregar dirección</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form [formGroup]="addAddressForm" (ngSubmit)="onSubmitAddAddress()">

				<div class="modal-body">

					<div class="form-floating mb-3">
						<select type="select" (change)="selectAddRegion()" [ngClass]="{'is-invalid': addAddressForm.value.region === '' && tryOnSubmit}" class="form-select" formControlName="region" aria-label="Floating label select region" [value]="regionsAndCommunes.name" #region required>
							<option *ngIf="addAddressForm.value.region === ''" selected disabled>Selecione una región</option>
							<option *ngFor="let region of regionsAndCommunes">
								{{region.name}}
							</option>
						</select>
						<label for="floatingSelect">Región *</label>
						<div class="invalid-feedback">Seleccione una región</div>
					</div>

					<div class="form-floating mb-3">
						<select type="select" [ngClass]="{'is-invalid': addAddressForm.value.commune === '' && tryOnSubmit}" class="form-select" formControlName="commune" aria-label="Floating label select commune" [value]="commune" #commune required>
							<option *ngIf="addAddressForm.value.region === ''" selected disabled>Primero seleccione una región</option>
							<option *ngIf="addAddressForm.value.region  !== ''" selected disabled>Selecione una comuna</option>
							<option *ngFor="let commune of communes">
								{{commune}}
							</option>
						</select>
						<label for="floatingSelect">Comuna *</label>
						<div class="invalid-feedback">Seleccione una comuna</div>
					</div>
		
					<mat-form-field appearance="outline">
						<mat-label>Codigo postal</mat-label>
						<input type="tel" formControlName="postcode" matInput [maxLength]="7" #postcode placeholder="Ex. 9410511" required>
						<mat-hint align="end">{{postcode?.value?.length}} / 7</mat-hint>
					</mat-form-field>
		
					<mat-form-field appearance="outline">
						<mat-label>Calle</mat-label>
						<input formControlName="street" matInput #street placeholder="Av. Colo-Colo" required>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Número</mat-label>
						<input formControlName="number" matInput #number placeholder="1919" required>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Departamento</mat-label>
						<input formControlName="apartment" matInput #apartment placeholder="Bloque A N°20">
					</mat-form-field>

	  		</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-save">Guardar</button>
				</div>
			</form>
		</div>
  </div>
</div>

<!-- -------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
--------------------------------------------------- Delete Address -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
-->

<div class="modal fade " id="deleteAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title m-0" id="exampleModalLabel">Eliminar direccion</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>¿Estas seguro de eliminar ésta direccion?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-save">Guardar</button>
      </div>
    </div>
  </div>
</div>
