
.card-body{
    min-height: 800px
}
.button-add-address{
    justify-content:center;
    align-items:center;
    display: flex;
}
.button-add-other-address{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top:20px 
}
.btn-add-address{
    color: white;
    background-color: #9100F5;
}


/////sin direccion view///
.fa-address-book{
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direction-description{
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items:center;
    margin-top: 16px;
}
.address-content{
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
}
///myadress////
.address{
    margin: 0px;
    padding: 20px;
}


/////edit///
.button-edit{
    justify-content:flex-end;
    align-items:center;
    display: flex;
    margin-right: 10px;
}
