<!-- Metodo de pago no existe -->
<div *ngIf="paymentMethodExist" class="card-body">
    <i class="far fa-credit-card"></i>
    <h3>No tienes ningún metodo de pago guardado </h3>
    <div class="button-add">
        <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#addPaymentMethod">Agregar metodo de pago</button>
    </div>
</div>
<!-- Metodo de pago existe -->
<div *ngIf="!paymentMethodExist" class="d-flex flex-column justify-content-between card-body">
    <div>
      <div class="card">
        <div>
          <div class="row">
            <div class="col">
              <h4 class="myPayment">Master card, 4120 **** **** ****</h4> 
            </div>
            <div class="col button-edit">
              <i type="button" class="far fa-trash-alt mx-3" data-bs-toggle="modal" data-bs-target="#deleteAddress"></i>
              <i type="button" class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editPaymentMethod"></i>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="button-add-other">
        <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#addPaymentMethod">Agregar otro metodo de pago</button>
    </div>
</div>

<!-- !-- --------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
---------------------------------------------Edit payment method---------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------> 
<div class="modal fade " id="editPaymentMethod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title m-0" id="exampleModalLabel">Agregar una terjeta de credito o debito</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="example-form">
                <div>
                    <h4>N° de tarjeta</h4>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>N° de tarjeta</mat-label>
                      <input matInput placeholder="0000 0000 0000 0000">
                    </mat-form-field>
                </div>
                <div>
                    <h4>Nombre de tarjeta</h4>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre tarjeta</mat-label>
                        <input matInput placeholder="nombre tarjeta">
                    </mat-form-field>
                </div>
                 <div>
                     <h4>Fecha de vencimiento</h4>
                     <div class="row">
                         <div class="col-5 col-sm-3">
                          <h4 class="expiration-date">MM</h4>
                            <div class="input-group">
                                <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                </select>
                            </div>
                         </div>
                         <div class="col-5 col-sm-3">
                          <h4 class="expiration-date">AAAA</h4>
                            <div class="input-group">
                                <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                  <option selected>2022</option>
                                  <option value="1">2023</option>
                                  <option value="2">2024</option>
                                  <option value="3">2025</option>
                                </select>
                            </div>
                         </div>
                     </div>
                 </div>
              </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="button-save-pw">
            <div class="button-save">
              <button type="button" class="btn btn-save">Guardar</button>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>