<app-navbar></app-navbar>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card myAddress my-4">
                  <div class="row">
                    <div class="col">
                        <h1 class="p-3 m-0">Mi direccion</h1>
                    </div>
                   <!--  <div *ngIf="!addressExist" class="button-edit col">
                          <i type="button" class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editAddress"></i>
                    </div> -->
                </div>
                </div>
                <div class="card myAddress my-4">
                    <div *ngIf="addressExist" class="card-body">
                      <i class="far fa-address-book"></i>
                      <h4 class="direction-description">Agrege una nueva dirección</h4>
                      <div>
                        <div class="button-add-address">
                          <button type="button" class="btn btn-add-address" data-bs-toggle="modal" data-bs-target="#addAddress">Agregar Dirección</button>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="!addressExist" class="card-body">
                      <div class="card">
                        <div>
                          <div class="row">
                            <div class="col">
                              <h4 class="address">Calle colo-colo, concon, valparaiso</h4> 
                            </div>
                        
                            <div *ngIf="!addressExist" class="col button-edit">
                              <i class="far fa-trash-alt mx-3" data-bs-toggle="modal" data-bs-target="#deleteAddress"></i>
                              <i type="button" class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editAddress"></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      <div class="button-add-other-address">
                        <button type="button" class="btn btn-add-address" data-bs-toggle="modal" data-bs-target="#addAddress">Agregar otra Dirección</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
<!-- --------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
--------------------------------------------------Editar direccion------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
-->
<div class="modal fade " id="editAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="example-form">
          
          <div class="">
            <mat-form-field class=" example-full-width " appearance="outline">
              <mat-label>Region</mat-label>
              <input matInput placeholder="Ej. Santiago">
            </mat-form-field>
            <mat-form-field class=" example-full-width " appearance="outline">
              <mat-label>Comuna</mat-label>
              <input matInput placeholder="Ej. Maipú">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Codigo postal</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
            <mat-form-field class=" example-full-width " appearance="outline">
              <mat-label>Calle</mat-label>
              <input matInput placeholder="Ej. Avenida ejemplo">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Numero</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="button-save-pw">
          <div class="button-save">
            <button type="button" class="btn btn-save">Guardar</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
--------------------------------------------------Agregar direccion----------------------------------------------------- 
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------------------------ 
-->
<div class="modal fade " id="addAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title m-0" id="exampleModalLabel">Agregue una direccion</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="example-form">
          
          <div class="">
            <mat-form-field class=" example-full-width " appearance="outline">
              <mat-label>Region</mat-label>
              <input matInput placeholder="Ej. Santiago">
            </mat-form-field>
            <mat-form-field class=" example-full-width " appearance="outline">
              <mat-label>Comuna</mat-label>
              <input matInput placeholder="Ej. Maipú">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Codigo postal</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
            <mat-form-field class=" example-full-width " appearance="outline">
              <mat-label>Calle</mat-label>
              <input matInput placeholder="Ej. Avenida ejemplo">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Numero</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="button-save-pw">
          <div class="button-save">
            <button type="button" class="btn btn-save">Guardar</button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>