<app-navbar></app-navbar>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card myAddress my-4">
                  <div class="row">
                    <div class="col">
                        <h1 class="p-3 m-0">Mi direccion</h1>
                    </div>
                </div>
                </div>
                <div class="card myAddressContent my-4">
                  <app-address></app-address>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
