<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 justify-content-center mt-2">
            <div class="position-relative m-4">
                <div class="progress">
                  <div [ngStyle]="{'width': widthBar}" class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <button (click)="changePos('step1')" type="button" class="btn steep-phase start-0">1</button>
                <button [disabled]="pos !== 'step2' && pos !== 'step3'" (click)="changePos('step2')" type="button" class="btn steep-phase start-50">2</button>
                <button [disabled]="pos !== 'step3'" (click)="changePos('step3')" type="button" class="btn steep-phase start-100">3</button>
            </div>
        </div> 
    </div>

    <!-- start step 1 -->

    <div *ngIf="pos === 'step1'" class="step-1">
        <div class="row justify-content-evenly mt-2">
            <div class="col-11 col-lg-7">
                <div class="card">
                    <h5 class="title-list">Carro: 2 productos</h5>
                </div>
                <div class="content-list"> <!-- a for here -->
                    <app-product-item></app-product-item>
                </div>
            </div>
    
            <div class="col-4 col-lg-3 d-none d-lg-block">
                <div class="card resume">
                    <h5 class="title-resume">Resumen de Compra</h5>
                    <div class="d-flex justify-content-between p-2">
                        <p class="total-price">Total:</p>
                        <p class="total-price">$ 45.000</p>
                    </div>
                    <button (click)="changePos('step2')" type="button" class="btn btn-continue">Continuar compra</button>
                </div>
            </div>
    
            <!-- responsive start -->
    
            <div class="col-11 d-lg-none summary-purchase">
                <div class="card resume shadow">
                    <h5 class="title-resume">Resumen de Compra</h5>
                    <div class="d-flex justify-content-between p-2">
                        <p class="total-price">Total:</p>
                        <p class="total-price">$ 45.000</p>
                    </div>
                    <button (click)="changePos('step2')" type="button" class="btn btn-continue">Continuar compra</button>
                </div>
            </div>
    
            <!-- responsive end -->
        </div>
    </div>

    <!-- end step 1 -->

    <!-- start step 2 -->

    <div *ngIf="pos === 'step2'" class="step-2">
        <div class="row justify-content-evenly mt-2">
            <div class="col-11 col-lg-7">
                <div class="card direction-card">
                    <div class="d-flex align-items-baseline">
                        <i class="fas fa-map-marker-alt"></i>
                        <p class="direction">Dirección:</p>
                        <p class="direction">Calle Colo-Colo, 523, Cerro O'Higgins</p>
                    </div>
                    <div>
                        <p type="button" class="edit">
                            cambiar
                            <i class="fas fa-edit"></i>
                        </p>
                    </div>
                </div>
                <div class="card email-card">
                    <div class="col d-flex justify-content-between mb-3">
                        <p class="email">correoElectronico@gmail.com</p>
                        <div>
                            <p type="button" class="edit">
                                cambiar
                                <i class="fas fa-edit"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <h5 class="type-delivery-title">Tipo de entrega:</h5>
                    </div>
                    <div (click)="changeActiveStore()" [ngClass]="{'type-delivery': !activeStore, 'type-delivery-active': activeStore}" class="col mb-3">
                        <div class="d-flex align-items-center">
                            <i [ngClass]="{'fa-delivery-option': !activeStore, 'fa-delivery-option-active': activeStore}" class="fas fa-store"></i>
                            <div class="me-2">
                                <p class="date-store">Retiro desde 30 Septiembre</p>
                                <p class="direction-store">Amazon Viña del Mar</p>
                            </div>
                            <div class="d-flex align-self-end">
                                <p type="button" class="edit">
                                    cambiar
                                    <i class="fas fa-edit"></i>
                                </p>
                            </div>
                        </div>
                        <p class="price-delivery">Gratis</p>
                    </div>
                    <div (click)="changeActiveDelivery()" [ngClass]="{'type-delivery': !activeDelivery, 'type-delivery-active': activeDelivery}" class="col type-delivery">
                        <i [ngClass]="{'fa-delivery-option': !activeDelivery, 'fa-delivery-option-active': activeDelivery}" class="fas fa-truck"></i>
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-3">
                <div class="card p-2">
                    <h5 class="title-resume">Resumen de Compra</h5>
                    <button [disabled]="activeDelivery == false && activeStore == false" (click)="changePos('step3')" type="button" class="btn btn-continue">Ir a pagar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- end step 2 -->

    <!-- start step 3 -->

    <div *ngIf="pos === 'step3'" class="step-3">
        <h1 class="m-4 text-center">step3</h1>
    </div>

    <!-- end step 3 -->


</div>
<app-footer></app-footer>