.steep-phase {
  width: 2.25rem;
  height: 2.25rem;
  background-color: #9100F5;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
}
.progress {
  position: relative;
  background-color: #adb5bd;
  top: -5px;
  height: 10px;
}
.progress-bar {
  background-color: #9100F5;
}
.card {
  border-width: 0px;
}
.title-list {
  margin-bottom: 0px;
  font-size: x-large;
  padding: 1.5rem;
}
.content-list {
  height: 700px;
  overflow-y: auto;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.btn:focus {
  box-shadow: none;
}
.btn:disabled {
  background-color: #adb5bd;
  opacity: 100;
}
.resume {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.summary-purchase {
  position: sticky;
  margin-bottom: 1.5rem;
  bottom: 0;
  z-index: 10;
}
.shadow {
  box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.15) !important;
}
.title-resume {
  margin-bottom: 1rem;
  text-align: center;
  font-size: x-large;
  font-weight: 500;
  color: #9100F5;
}
.total-price {
  font-size: large;
  font-weight: 500;
}
.btn-continue {
  background-color: #9100F5;
  color: white;
  font-weight: 500;
  font-size: large;
  border-radius: 20px;
}
.direction-card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: baseline;
  justify-content: space-between;
}
.direction-card-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.fa-map-marker-alt {
  font-size: 25px;
}
.direction {
  font-size: large;
  margin-bottom: 0px;
  margin-left: 0.5rem;
}
.type-delivery-title {
  font-size: 25px;
  margin-bottom: 0px;
}
.type-delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #c4c4c4;
  padding: 1rem;
  cursor: pointer;
}
.type-delivery-r {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #c4c4c4;
  padding: 1rem;
  cursor: pointer;
}
.type-delivery-active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #9100F5;
  padding: 1rem;
  cursor: pointer;
}
.type-delivery-active-r {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #9100F5;
  padding: 1rem;
  cursor: pointer;
}
.fa-delivery-option {
  font-size: 25px;
  margin-right: 1rem;
}
.fa-delivery-option-active {
  font-size: 25px;
  margin-right: 1rem;
  color: #9100F5;
}
.date-store {
  font-size: large;
  margin-bottom: 0px;
}
.direction-store {
  font-size: larger;
  color: #6C757D;
  margin-bottom: 0px;
  font-weight: 300;
}
.bill {
  font-size: 25px;
}
.email {
  margin-bottom: 0px;
  font-size: larger;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.price-free {
  font-size: larger;
  margin-bottom: 0px;
  font-weight: 500;
  color: green;
}
.price-delivery {
  font-size: larger;
  margin-bottom: 0px;
}
.date-delivery {
  font-size: large;
  margin-bottom: 0px;
}
@media (max-width: 600px) {
  .direction-card {
    display: none;
  }
  .btn-edit {
    display: none;
  }
  .type-delivery {
    display: none;
  }
  .type-delivery-active {
    display: none;
  }
}
@media (min-width: 601px) {
  .direction-card-r {
    display: none;
  }
  .btn-edit-r {
    display: none;
  }
  .type-delivery-r {
    display: none;
  }
  .type-delivery-active-r {
    display: none;
  }
}
.resume-buy {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}
.btn-buy {
  background-color: #9100F5;
  color: white;
  font-weight: 500;
  font-size: large;
  width: 100%;
  border-radius: 20px;
}
.center-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 992px) {
  .btn-buy {
    max-width: 300px;
  }
}
.card-payment {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #6C757D;
  padding: 0.75rem;
}
.form-check {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}
.form-check-input:checked {
  background-color: #9100F5;
}
.modal-title {
  margin-bottom: 0px;
  font-size: larger;
}
.btn-save {
  background-color: #9100F5;
  color: white;
}
.btn-cancel {
  background-color: #adb5bd;
  color: white;
}
.btn-close:focus {
  box-shadow: none;
}
.btn-save:hover {
  background-color: #ceacea;
}
.btn-cancel:hover {
  background-color: #f1f2f3;
}
select:hover {
  box-shadow: none;
}
.mat-form-field {
  width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.collapse-pick-up-option {
  border-color: #9100F5;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.form-check-input:checked {
  background-color: #9100F5;
  border-color: #9100F5;
  box-shadow: none;
}
.form-check-input:focus {
  border-color: #9100F5;
  box-shadow: none;
}
.other-person-data {
  margin-bottom: 0px;
  margin-left: 1.5em;
  color: #6C757D;
  margin-right: 0.5rem;
}
.collapse-store-option {
  border-color: #9100F5;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
}
