.steep-phase {
  width: 2.25rem;
  height: 2.25rem;
  background-color: #9100F5;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
}
.progress {
  position: relative;
  background-color: #6C757D;
  top: -5px;
  height: 10px;
}
.progress-bar {
  background-color: #9100F5;
}
.card {
  border-width: 0px;
}
.title-list {
  margin-bottom: 0px;
  font-size: x-large;
  padding: 1.5rem;
}
.content-list {
  height: 700px;
  overflow-y: auto;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.btn:focus {
  box-shadow: none;
}
.btn:disabled {
  background-color: #6C757D;
  opacity: 100;
}
.resume {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.summary-purchase {
  position: sticky;
  margin-bottom: 1.5rem;
  bottom: 0;
  z-index: 10;
}
.shadow {
  box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.15) !important;
}
.title-resume {
  margin-bottom: 1rem;
  text-align: center;
  font-size: x-large;
  font-weight: 500;
  color: #9100F5;
}
.total-price {
  font-size: large;
  font-weight: 500;
}
.btn-continue {
  background-color: #9100F5;
  color: white;
  font-weight: 500;
  font-size: large;
  border-radius: 20px;
}
.direction-card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: baseline;
  justify-content: space-between;
}
.fa-map-marker-alt {
  font-size: 25px;
}
.direction {
  font-size: large;
  margin-bottom: 0px;
  margin-left: 0.5rem;
}
.edit-direction {
  margin-bottom: 0px;
}
