<app-navbar></app-navbar>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-10 justify-content-center mt-2">
			<div class="position-relative m-4">
				<div class="progress">
				  <div [ngStyle]="{'width': widthBar}" class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<button (click)="changePos('step1')" type="button" class="btn steep-phase start-0">1</button>
				<button [disabled]="pos !== 'step2' && pos !== 'step3'" (click)="changePos('step2')" type="button" class="btn steep-phase start-50">2</button>
				<button [disabled]="pos !== 'step3'" (click)="changePos('step3')" type="button" class="btn steep-phase start-100">3</button>
			</div>
		</div> 
	</div>

	<!-- start step 1 -->

	<div *ngIf="pos === 'step1'" class="step-1">
		<div class="row justify-content-evenly mt-2">
			<div class="col-11 col-lg-7">
				<div class="card">
					<h5 class="title-list">Carro: 2 productos</h5>
				</div>
				<div class="content-list"> <!-- a for here -->
					<app-product-item></app-product-item>
				</div>
			</div>
	
			<div class="col-4 col-lg-3 d-none d-lg-block">
				<div class="card resume">
					<h5 class="title-resume">Resumen de Compra</h5>
					<div class="d-flex justify-content-between p-2">
						<p class="total-price">Total:</p>
						<p class="total-price">$ 45.000</p>
					</div>
					<button (click)="changePos('step2')" type="button" class="btn btn-continue">Continuar compra</button>
				</div>
			</div>
	
			<!-- responsive start -->
	
			<div class="col-11 d-lg-none summary-purchase">
				<div class="card resume shadow">
					<h5 class="title-resume">Resumen de Compra</h5>
					<div class="d-flex justify-content-between p-2">
						<p class="total-price">Total:</p>
						<p class="total-price">$ 45.000</p>
					</div>
					<button (click)="changePos('step2')" type="button" class="btn btn-continue">Continuar compra</button>
				</div>
			</div>
	
			<!-- responsive end -->
		</div>
	</div>

	<!-- end step 1 -->

	<!-- start step 2 -->

	<div *ngIf="pos === 'step2'" class="step-2">
		<div class="row justify-content-evenly mt-2">
			<div class="col-11 col-lg-7 mb-3">

				<div class="card mb-3">
					<div class="direction-card">
						<div class="d-flex align-items-baseline">
							<i class="fas fa-map-marker-alt"></i>
							<p class="direction">Dirección: Calle Colo-Colo, 523, Cerro O'Higgins</p>
						</div>
						<div>
							<p type="button" class="mb-0" data-bs-toggle="collapse" data-bs-target="#editAddressCollapse">
								cambiar
								<i class="fas fa-edit"></i>
							</p>
						</div>
					</div>
	
					<!-- responsive start -->
	
					<div class="direction-card-r">
						<div class="d-flex align-items-center">
							<i class="fas fa-map-marker-alt"></i>
							<div>
								<p class="direction">Dirección:</p>
								<p class="direction">Calle Colo-Colo, 523, Cerro O'Higgins</p>
							</div>
						</div>
						<i type="button" class="fas fa-edit" data-bs-toggle="collapse" data-bs-target="#editAddressCollapse"></i>
					</div>
	
					<!-- responsive end -->

					<div class="collapse" id="editAddressCollapse">
						<app-address></app-address>
					</div>

				</div>

				<div class="card p-3">
					<h5 class="bill">Envío de factura y comprobante</h5>
					<div class="col d-flex justify-content-between mb-3">
						<p class="email">Correo: correoElectronico@gmail.com</p>

						<div class="btn-edit">
							<p type="button" class="mb-0" data-bs-toggle="modal" data-bs-target="#changeEmailModal">
								cambiar
								<i class="fas fa-edit"></i>
							</p>
						</div>

						<!-- responsive start -->

						<div class="btn-edit-r">
							<p type="button" class="mb-0">
								<i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#changeEmailModal"></i>
							</p>
						</div>

						<!-- responsive end -->

					</div>
					<div class="col mb-3">
						<h5 class="type-delivery-title">Tipo de entrega:</h5>
					</div>

					<div>
						<div class="delivery-options">
							<div (click)="changeActiveStore()" [ngClass]="{'type-delivery': !activeStore, 'type-delivery-active': activeStore}" class="col mb-3">
								<div class="d-flex align-items-center">
									<i [ngClass]="{'fa-delivery-option': !activeStore, 'fa-delivery-option-active': activeStore}" class="fas fa-store"></i>
									<div class="me-2">
										<p class="date-store">Retiro desde 30 Septiembre</p>
										<p class="direction-store" *ngIf="selectPoint != null">{{selectPoint.nameStore}} {{selectPoint.commune}} {{selectPoint.street}}</p>
										<p class="direction-store" *ngIf="selectPoint == null">No hay tienda seleccionada</p>
									</div>
								</div>
								<p class="price-free">Gratis</p>
								<p type="button" class="mb-0" data-bs-toggle="collapse" data-bs-target="#editPickUpOptionCollapse">
									cambiar
									<i class="fas fa-edit"></i>
								</p>
							</div>
						</div>
	
						<!-- responsive start -->
	
						<div class="delivery-options-r mt-2">
							<div (click)="changeActiveStore()" [ngClass]="{'type-delivery-r': !activeStore, 'type-delivery-active-r': activeStore}" class="mb-3 ">
								<div class="d-flex justify-content-between align-items-center mb-2">
									<i [ngClass]="{'fa-delivery-option': !activeStore, 'fa-delivery-option-active': activeStore}" class="fas fa-store"></i>
									<p type="button" class="mb-0" data-bs-toggle="collapse" data-bs-target="#editPickUpOptionCollapse"><i class="fas fa-edit"></i></p>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="me-2">
										<p class="date-store">Retiro desde 30 Septiembre</p>
										<p class="direction-store" *ngIf="selectPoint != null">{{selectPoint.nameStore}} {{selectPoint.commune}} {{selectPoint.street}}</p>
										<p class="direction-store" *ngIf="selectPoint == null">No hay tienda seleccionada</p>
									</div>
									<p class="price-free">Gratis</p>
								</div>
							</div>
							<div *ngIf="activeStore" class="collapse collapse-pick-up-option" id="editPickUpOptionCollapse">
								<p class="mb-1 fs-6">Lugar donde se va a retirar el pedido:</p>
								<div class="d-flex align-items-center">
									<p class="direction-store" *ngIf="selectPoint != null">{{selectPoint.nameStore}} {{selectPoint.commune}} {{selectPoint.street}}</p>
									<p class="direction-store" *ngIf="selectPoint == null">No hay tienda seleccionada </p>
									<i type="button" class="fas fa-edit ms-1" data-bs-toggle="modal" data-bs-target="#changeUbicationStoreModal"></i>
								</div>
								<p class="my-2 fs-6">¿Quien va a retirar el pedido?</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioMe" id="flexRadioMe" checked>
									<label class="form-check-label" for="flexRadioMe">
										<p class="mb-0 fs-6">Yo lo voy a retirar</p>
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="flexRadioMe" id="flexRadioOther" data-bs-toggle="modal" data-bs-target="#pickUpOtherPersonModal">
									<label class="form-check-label" for="flexRadioOther" data-bs-toggle="modal" data-bs-target="#pickUpOtherPersonModal">
										<p class="mb-0 fs-6">Otra Persona lo va a retirar</p>
									</label>
								</div>
								<div class="d-flex align-items-center" *ngIf="otherPickUpSend">
									<p class="other-person-data">
										{{otherPickUpForm.value.name}} {{otherPickUpForm.value.lastName}}
									</p>
									<i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#pickUpOtherPersonModal"></i>
								</div>
							</div>
						</div>
	
						<!-- responsive end -->
					</div>

					<div class="delivery-options">
						<div (click)="changeActiveDelivery()" [ngClass]="{'type-delivery': !activeDelivery, 'type-delivery-active': activeDelivery}" class="col">
							<div class="d-flex align-items-center">
								<i [ngClass]="{'fa-delivery-option': !activeDelivery, 'fa-delivery-option-active': activeDelivery}" class="fas fa-truck"></i>
								<p class="date-delivery me-2">Llega entre el 20 y 24 de Mayo</p>
							</div>
							<p class="price-delivery">$1.590</p>
							<p type="button" class="mb-0" data-bs-toggle="collapse" data-bs-target="#editStoreOptionCollapse">
								cambiar
								<i class="fas fa-edit"></i>
							</p>
						</div>
					</div>

					<!-- responsive start -->

					<div class="delivery-options-r">
						<div (click)="changeActiveDelivery()" [ngClass]="{'type-delivery-r': !activeDelivery, 'type-delivery-active-r': activeDelivery}">
							<div class="d-flex justify-content-between align-items-center mb-2">
								<i [ngClass]="{'fa-delivery-option': !activeDelivery, 'fa-delivery-option-active': activeDelivery}" class="fas fa-truck"></i>
								<p type="button" class="mb-0" data-bs-toggle="collapse" data-bs-target="#editStoreOptionCollapse"><i class="fas fa-edit"></i></p>
							</div>
							<div class="d-flex justify-content-between align-items-center">
								<p class="date-delivery me-2">Llega entre el 20 y 24 de Mayo</p>
								<p class="price-delivery">$1.590</p>
							</div>
						</div>
						<div *ngIf="activeDelivery" class="collapse collapse-store-option" id="editStoreOptionCollapse">
							<p class="mb-1 fs-6">Fecha para recibir el pedido:</p>
							<input type="date" min="2022-05-20" max="2022-06-21">
							
						</div>
					</div>

					<!-- responsive end -->

				</div>
			</div>
			<div class="col-11 col-lg-4">
				<div class="card resume-buy">
					<h5 class="title-resume">Resumen de Compra</h5>
					<div class="d-flex justify-content-between p-2"> <!-- if there are more charges, show here -->
						<p class="total-price">Total:</p>
						<p class="total-price">$ 45.000</p>
					</div>
					<div class="center-btn">
						<button [disabled]="activeDelivery == false && activeStore == false" (click)="changePos('step3')" type="button" class="btn btn-buy">Ir a pagar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- end step 2 -->

	<!-- start step 3 -->

	<div *ngIf="pos === 'step3'" class="step-3">
		<h1 class="m-4 text-center">step3</h1>
	</div>

	<!-- end step 3 -->


</div>

<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------- MODALS HERE -------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->


<div  class="modal fade" id="changeEmailModal" tabindex="-1" aria-labelledby="changeEmailModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changeDirectionLabel">Cambiar Correo Electrónico</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form [formGroup]="emailForm" (ngSubmit)="onSubmitChangeEmail()">
				<div class="modal-body">

					<mat-form-field appearance="outline">
						<mat-label>Correo Electrónico</mat-label>
						<input type="email" formControlName="email" matInput #email placeholder="ejemplo123@dom.com" required>
						<mat-error *ngIf="email">{{getEmailErrorMessage()}}</mat-error>
					</mat-form-field>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-save">Guardar</button>
				</div>

			</form>
		</div>
	</div>
</div>

<div  class="modal fade" id="pickUpOtherPersonModal" tabindex="-1" aria-labelledby="pickUpOtherPersonModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changeDirectionLabel">Datos de quien lo va a retirar</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form [formGroup]="otherPickUpForm" (ngSubmit)="onSubmitPickUpOtherPerson()">
				<div class="modal-body">

					<mat-form-field appearance="outline">
						<mat-label>Nombre</mat-label>
						<input type="text" formControlName="name" matInput #name required>
						<mat-error *ngIf="name">{{getNameErrorMessage()}}</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Apellido</mat-label>
						<input type="text" formControlName="lastName" matInput #lastName required>
						<mat-error *ngIf="lastName">{{getLastNameErrorMessage()}}</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>RUT</mat-label>
						<input type="text" formControlName="rut" matInput #rut placeholder="12345678-9" maxlength="10" required>
						<mat-error *ngIf="rut">{{getRutErrorMessage()}}</mat-error>
					</mat-form-field>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-save">Guardar</button>
				</div>

			</form>
		</div>
	</div>
</div>

<div  class="modal fade" id="changeUbicationStoreModal" tabindex="-1" aria-labelledby="changeUbicationStoreModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changeDirectionLabel">Cambiar ubicación del local de retiro</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form [formGroup]="pickUpPointForm" (ngSubmit)="onSubmitChgPickUpPoint()">
				<div class="modal-body">
					<div class="form-floating mb-3">
						<select type="select" (change)="selectRegion()" [ngClass]="{'is-invalid': pickUpPointForm.value.region === '' && tryOnSubmit}" class="form-select" formControlName="region" aria-label="Floating label select region" [value]="regionsAndCommunes.name" #region required>
							<option *ngIf="pickUpPointForm.value.region === ''" selected disabled>Selecione una región</option>
							<option *ngFor="let region of regionsAndCommunes">
								{{region.name}}
							</option>
						</select>
						<label for="floatingSelect">Región *</label>
						<div class="invalid-feedback">Seleccione una región</div>
					</div>

					<div class="form-floating mb-3">
						<select type="select" (change)="selectUbication()" [ngClass]="{'is-invalid': pickUpPointForm.value.commune === '' && tryOnSubmit}" class="form-select" formControlName="commune" aria-label="Floating label select commune" [value]="commune" #commune required>
							<option *ngIf="pickUpPointForm.value.region === ''" selected disabled>Primero seleccione una región</option>
							<option *ngIf="pickUpPointForm.value.region  !== ''" selected>Selecione una comuna</option>
							<option *ngFor="let commune of communes">
								{{commune}}
							</option>
						</select>
						<label for="floatingSelect">Comuna *</label>
						<div class="invalid-feedback">Seleccione una comuna</div>
					</div>
					
					<div *ngFor="let data of pickUpPoints">
						<app-pick-up-point [data]="data" (dataSelectPoint)="receivePickUpPoint($event)"></app-pick-up-point>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-save" (click)="savePickUpPointModal()">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>