.steep-phase {
  width: 2.25rem;
  height: 2.25rem;
  background-color: #9100F5;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
}
.progress {
  position: relative;
  background-color: #6C757D;
  top: -5px;
  height: 10px;
}
.progress-bar {
  background-color: #9100F5;
}
.card {
  border-width: 0px;
}
.title-list {
  margin-bottom: 0px;
  font-size: x-large;
  padding: 1.5rem;
}
.content-list {
  height: 700px;
  overflow-y: auto;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
}
.resume {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.summary-purchase {
  position: sticky;
  margin-bottom: 1.5rem;
  bottom: 0;
  z-index: 10;
}
.shadow {
  box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.15) !important;
}
.title-resume {
  margin-bottom: 1rem;
  text-align: center;
  font-size: x-large;
  font-weight: 500;
  color: #9100F5;
}
.total-price {
  font-size: large;
  font-weight: 500;
}
.btn-continue {
  background-color: #9100F5;
  color: white;
  font-weight: 500;
  font-size: large;
  border-radius: 20px;
}
.product-item {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
}
.fg-0 {
  flex-grow: 0;
}
.fg-075 {
  flex-grow: 0.75;
}
@media (min-width: 341px) {
  .movile {
    display: none;
  }
}
@media (min-width: 451px) {
  .movile-340 {
    display: none;
  }
}
@media (min-width: 601px) {
  .movile-450 {
    display: none;
  }
}
@media (min-width: 701px) {
  .movile-600 {
    display: none;
  }
}
@media (max-width: 340px) {
  .movile-340 {
    display: none;
  }
}
@media (max-width: 450px) {
  .movile-450 {
    display: none;
  }
}
@media (max-width: 600px) {
  .movile-600 {
    display: none;
  }
}
@media (max-width: 700px) {
  .standard-size {
    display: none;
  }
}
.fa-image {
  font-size: 80px;
}
.fa-image-r {
  font-size: 100px;
}
.fa-image-last {
  font-size: 180px;
}
.fa-image::before {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.fa-image-r::before {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.fa-image-last::before {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.product-brand {
  font-size: larger;
  font-weight: 300;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.product-name {
  font-size: large;
  font-weight: 400;
  margin-bottom: 0px;
  cursor: pointer;
}
.price {
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  align-items: center;
}
.product-price {
  font-size: large;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.product-dcto {
  font-size: medium;
  margin-bottom: 0px;
  font-weight: 300;
}
.product-code {
  text-align: end;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.product-code-r {
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.btn:focus {
  box-shadow: none;
}
.btn-secondary {
  background-color: #f1f2f3;
}
.btn-secondary:hover {
  background-color: #c4c4c4;
}
.icon-cant {
  color: black;
}
.cant-product {
  font-size: large;
  margin-bottom: 0px;
  align-self: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  border-style: solid;
  border-width: 1px;
  border-color: #6C757D;
}
.item-options {
  display: flex;
  justify-content: space-between;
  border-top-style: solid;
  border-top-color: #c4c4c4;
  border-top-width: 1px;
  margin-top: 1rem;
  padding-top: 0.5rem;
}
.form-check {
  min-height: 0px;
  margin-bottom: 0px;
}
.form-check-label {
  cursor: pointer;
}
.form-check-input {
  box-shadow: none;
  border-color: #9100F5;
}
.form-check-input:checked {
  background-color: #9100F5;
}
