<app-navbar></app-navbar>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card my-4">
                    <h1 class="p-3 m-0">Hola, user</h1>
                </div>
                <div class="card my-4">
                    <div class="card-body body-information">
                        <div class="information">
                            <h2 class="p-3 m-0" [routerLink]="['/user/profile/info']">Datos Personales</h2>
                        </div>
                        <div class="information">
                            <h2 class="p-3 m-0" [routerLink]="['/user/profile/myshopping']">Mis compras</h2>
                        </div>
                        <div class="information">
                            <h2 class="p-3 m-0" [routerLink]="['/user/profile/myaddress']">Direcciones</h2>
                        </div>
                        <div class="information">
                            <h2 class="p-3 m-0">Metodos de pago</h2>
                        </div>
                        <div class="information">
                            <h2 class="p-3 m-0">Mis compras</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card my-4">
                    <h1 class="p-3 m-0">Datos Personales</h1>
                </div>
                <div class="card shop">
                    <div class="card-header">
                        Producto(s) comprado(s) el 25/03/2021
                    </div>
                    <div class="card-body shopping">
                        <div class="card shopping-item standard-size">
                            <div class="card product-item">
                                <div class="row align-items-center">
                                    <div class="col fg-0">
                                        <img src="/assets/img/a1.jpg" class="card-img-top" >
                                    </div>
                                    <div class="col">
                                        <p class="product-brand">Marca del producto</p>
                                        <p class="product-name">Nombre del producto</p>
                                    </div>
                                    <div class="col price">
                                        <p class="product-price">$39.990</p>
                                        <p class="product-dcto">40% dcto.</p>
                                    </div>
                                    <div class="col fg-075">
                                        <p class="product-code">Code: 1111111111</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card product-item">
                                <div class="row align-items-center">
                                    <div class="col fg-0">
                                        <img src="/assets/img/a1.jpg" class="card-img-top" >
                                    </div>
                                    <div class="col">
                                        <p class="product-brand">Marca del producto</p>
                                        <p class="product-name">Nombre del producto</p>
                                    </div>
                                    <div class="col price">
                                        <p class="product-price">$39.990</p>
                                        <p class="product-dcto">40% dcto.</p>
                                    </div>
                                    <div class="col fg-075">
                                        <p class="product-code">Code: 1111111111</p>
                                        
                                    </div>
                                 </div>
                            </div>
                         </div>
                    </div>
                </div>

                <div class="card shop">
                    <div class="card-header">
                        Producto(s) comprado(s) el 25/03/2021
                    </div>
                    <div class="card-body shopping">
                        <div class="card shopping-item standard-size">
                            <div class="card product-item">
                                <div class="row align-items-center">
                                    <div class="col fg-0">
                                        <img src="/assets/img/a1.jpg" class="card-img-top" >
                                    </div>
                                    <div class="col">
                                        <p class="product-brand">Marca del producto</p>
                                        <p class="product-name">Nombre del producto</p>
                                    </div>
                                    <div class="col price">
                                        <p class="product-price">$39.990</p>
                                        <p class="product-dcto">40% dcto.</p>
                                    </div>
                                    <div class="col fg-075">
                                        <p class="product-code">Code: 1111111111</p>
                                        
                                    </div>
                                </div>
                            </div>
                            
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>