<app-navbar></app-navbar>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card my-4">
                    <h1 class="p-3 m-0">Hola, user</h1>
                </div>
                <div class="card my-4">
                    <div class="card-body body-information">
                        <div class="information">
                            <h2 class="p-3 m-0" [routerLink]="['/user/profile/info']">Datos Personales</h2>
                        </div>
                        <div class="information">
                            <h2 class="p-3 m-0" [routerLink]="['/user/profile/myshopping']">Mis compras</h2>
                        </div>
                        <div class="information">
                            <h2 class="p-3 m-0" [routerLink]="['/user/profile/myaddress']">Direcciones</h2>
                        </div>
                        <div class="information">
                            <h2 class="p-3 m-0">Metodos de pago</h2>
                        </div>
                        <div class="information">
                            <h2 class="p-3 m-0">Mis compras</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card my-4">
                    <h1 class="p-3 m-0">Datos Personales</h1>
                </div>
                <div class="card my-4">
                    <div class="card-body">
                       <div class="row">
                           <div class="col">
                               <div class="card">
                                   
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>