.card-specification-content{
    margin: 40px;
    margin-top: 20px;
    border: 0px;
}
.card-content{
    padding:40px;
}
.card-specification{
    padding: 20px;
}
.card-title{
    font-size: 20px;
}
.body-specification{
    padding: 0px;
}
.brand-related-body{
    margin: 40px;
    margin-top: 0px;
    padding: 0px;
}
.brand-title{
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom-style: solid;
    border-width: 1px;
}
.specification-pair{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F2F3F4;
}
.specification-odd{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}
.basket-btn{
   color: #ffffff;
   background-color: #9100F5;
}
.product-body{
    border-top-style: solid;
    border-width: 1px;
    border-color:#9100F5 ;
}
.price{
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 4%;
}