<app-navbar></app-navbar>
<div class="container">
    <div class="container-fluid">
        <div class="card my-4">
            <div class="row">
                <div class="col-12 col-lg-6 card-content">
                    <div class="card">
                        <img src="/assets/img/a1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        </div>
                      </div>
                </div>
                <div class="col-12 col-lg-6 card-content">
                    <div class="card card-specification">
                        <h5 class="card-title">SONY</h5>
                        <p class="card-text">AUDIFONOS SONY BT WH-CH510 AZUL</p>
                        <div class="card-body product-body">
                            <div class="row">
                                <div class="col-6">
                                    <h4>Caracteristicas</h4>
                                    <ul>
                                        <li>caracteristica 1</li>
                                        <li>caracteristica 1</li>
                                        <li>caracteristica 1</li>
                                        <li>caracteristica 1</li>
                                    </ul>
                                </div>
                                <div class="col-6 price">
                                    <div class="row">
                                        <div class="col-6"> 
                                            <h3>Normal</h3>
                                        </div>
                                        <div class="col-6">
                                            <h3 class="card-text d-flex">$150.000</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"> 
                                            <h3>Internet</h3>
                                        </div>
                                        <div class="col-6">
                                            <h3 class="card-text d-flex">$140.000</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"> 
                                            <h3>Descuento</h3>
                                        </div>
                                        <div class="col-6">
                                            <h3 class="card-text d-flex">40%</h3>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn basket-btn">Agregar al carro</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <h2 class="brand-title">Marcas relacionadas</h2>
            <div class="card-body brand-related-body">
                <div class="row">
                    <div class="col-12 col-lg-2 col-md-6 my-2">
                        <div class="card">
                            <img src="/assets/img/a1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">SONY</h5>
                              <p class="card-text">AUDIFONOS SONY BT WH-CH510 AZUL</p>
                              <h3 class="card-text">$150.000</h3>
                              <i class="fas fa-cart-plus"></i>
                            </div>
                          </div>  
                    </div>
                    <div class="col-12 col-lg-2 col-md-6 my-2">
                        <div class="card">
                            <img src="/assets/img/a1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">SONY</h5>
                              <p class="card-text">AUDIFONOS SONY BT WH-CH510 AZUL</p>
                              <h3 class="card-text">$150.000</h3>
                              <i class="fas fa-cart-plus"></i>
                            </div>
                          </div>  
                    </div>
                    <div class="col-12 col-lg-2 col-md-6 my-2">
                        <div class="card">
                            <img src="/assets/img/a1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">SONY</h5>
                              <p class="card-text">AUDIFONOS SONY BT WH-CH510 AZUL</p>
                              <h3 class="card-text">$150.000</h3>
                              <i class="fas fa-cart-plus"></i>
                            </div>
                          </div>  
                    </div>
                    <div class="col-12 col-lg-2 col-md-6 my-2">
                        <div class="card">
                            <img src="/assets/img/a1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">SONY</h5>
                              <p class="card-text">AUDIFONOS SONY BT WH-CH510 AZUL</p>
                              <h3 class="card-text">$150.000</h3>
                              <i class="fas fa-cart-plus"></i>
                            </div>
                          </div>  
                    </div>
                    <div class="col-12 col-lg-2 col-md-6 my-2">
                        <div class="card">
                            <img src="/assets/img/a1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">SONY</h5>
                              <p class="card-text">AUDIFONOS SONY BT WH-CH510 AZUL</p>
                              <h3 class="card-text">$150.000</h3>
                              <i class="fas fa-cart-plus"></i>
                            </div>
                          </div>  
                    </div>
                    <div class="col-12 col-lg-2 col-md-6 my-2">
                        <div class="card">
                            <img src="/assets/img/a1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">SONY</h5>
                              <p class="card-text">AUDIFONOS SONY BT WH-CH510 AZUL</p>
                              <h3 class="card-text">$150.000</h3>
                              <i class="fas fa-cart-plus"></i>
                            </div>
                          </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="brand-title">Especificaciones</h2>
                    <div class="card card-specification-content">
                        <div class="card-body body-specification">
                            <div class="specification-pair">
                                <p class="m-0 ps-3">Marca</p>
                            </div>
                            <div class="specification-odd ">
                                <p class="m-0 ps-3">Tipo</p>
                            </div>
                            <div class="specification-pair">
                                <p class="m-0 ps-3">Peso</p>
                            </div>
                            <div class="specification-odd ">
                                <p class="m-0 ps-3">Auricular</p>
                            </div>
                            <div class="specification-pair">
                                <p class="m-0 ps-3">Compatibilidad</p>
                            </div>
                            <div class="specification-odd ">
                                <p class="m-0 ps-3">Conexión Bluetooth</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12-">

                </div>
            </div>
        </div>
    </div>
</div>