<div class="card">
	<img class="product-img" [src]="distribution.product!.image">
	<div>
		<p class="info-product">{{distribution.product!.brand}}</p>
		<p class="info-product">{{distribution.product!.description}}</p>
	</div>
</div>

<div (click)="changeActiveStore()" [ngClass]="{'type-distribution': !activeStore, 'type-distribution-active': activeStore}" class="mt-3">
  <div class="d-flex align-items-center">
    <i [ngClass]="{'fa-delivery-option': !activeStore, 'fa-delivery-option-active': activeStore}" class="fas fa-store"></i>
    <div class="me-2">
      <p class="date-store">Retiro desde 30 Septiembre</p>
      <p class="direction-store" *ngIf="selectPoint != null">{{selectPoint.nameStore}} {{selectPoint.commune}} {{selectPoint.street}}</p>
      <p class="direction-store" *ngIf="selectPoint == null">No hay tienda seleccionada</p>
    </div>
  </div>
  <p class="price-free">Gratis</p>
  <p type="button" class="mb-0" data-bs-toggle="collapse" [attr.data-bs-target]="'#editPickUpOptionCollapse'+i">
    cambiar
    <i class="fas fa-edit"></i>
  </p>
</div>

<!-- responsive start -->

<div (click)="changeActiveStore()" [ngClass]="{'type-distribution-r': !activeStore, 'type-distribution-active-r': activeStore}" class="mt-3">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <i [ngClass]="{'fa-delivery-option': !activeStore, 'fa-delivery-option-active': activeStore}" class="fas fa-store"></i>
    <p type="button" class="mb-0" data-bs-toggle="collapse" [attr.data-bs-target]="'#editPickUpOptionCollapse'+i"><i class="fas fa-edit"></i></p>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="me-2">
      <p class="date-store">Retiro desde 30 Septiembre</p>
      <p class="direction-store" *ngIf="selectPoint != null">{{selectPoint.nameStore}} {{selectPoint.commune}} {{selectPoint.street}}</p>
      <p class="direction-store" *ngIf="selectPoint == null">No hay tienda seleccionada</p>
    </div>
    <p class="price-free">Gratis</p>
  </div>
</div>

<!-- responsive end -->

<div *ngIf="activeStore" class="collapse collapse-pick-up-option" [id]="'editPickUpOptionCollapse'+i">
  <p class="mb-1 fs-6">Lugar donde se va a retirar el pedido:</p>
  <div class="d-flex align-items-center">
    <p class="direction-store" *ngIf="selectPoint != null">{{selectPoint.nameStore}} {{selectPoint.commune}} {{selectPoint.street}}</p>
    <p class="direction-store" *ngIf="selectPoint == null">No hay tienda seleccionada </p>
    <i type="button" class="fas fa-edit ms-1" data-bs-toggle="modal" [attr.data-bs-target]="'#changeUbicationStoreModal'+i"></i>
  </div>
  <p class="my-2 fs-6">¿Quien va a retirar el pedido?</p>
  <div class="form-check">
    <input class="form-check-input" type="radio" [name]="'flexRadioMe'+i" [id]="'flexRadioMe'+i" checked>
    <label class="form-check-label" [for]="'flexRadioMe'+i">
      <p class="mb-0 fs-6">Yo lo voy a retirar</p>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" [name]="'flexRadioMe'+i" [id]="'flexRadioOther'+i" data-bs-toggle="modal" [attr.data-bs-target]="'#pickUpOtherPersonModal'+i">
    <label class="form-check-label" [for]="'flexRadioOther'+i" data-bs-toggle="modal" [attr.data-bs-target]="'#pickUpOtherPersonModal'+i">
      <p class="mb-0 fs-6">Otra Persona lo va a retirar</p>
    </label>
  </div>
  <div class="d-flex align-items-center" *ngIf="otherPickUpSend">
    <p class="other-person-data">
      {{otherPickUpForm.value.name}} {{otherPickUpForm.value.lastName}}
    </p>
    <i class="fas fa-edit" data-bs-toggle="modal" [attr.data-bs-target]="'#pickUpOtherPersonModal'+i"></i>
  </div>
</div>

<div (click)="changeActiveDelivery()" [ngClass]="{'type-distribution': !activeDelivery, 'type-distribution-active': activeDelivery}" class="mt-3">
  <div class="d-flex align-items-center">
    <i [ngClass]="{'fa-delivery-option': !activeDelivery, 'fa-delivery-option-active': activeDelivery}" class="fas fa-truck"></i>
    <p class="date-delivery me-2">Llega el {{dateDelivery}}</p>
  </div>
  <p class="price-delivery">${{cost}}</p>
  <p type="button" class="mb-0" data-bs-toggle="collapse" [attr.data-bs-target]="'#editStoreOptionCollapse'+i">
    cambiar
    <i class="fas fa-edit"></i>
  </p>
</div>

<!-- responsive start -->

<div (click)="changeActiveDelivery()" [ngClass]="{'type-distribution-r': !activeDelivery, 'type-distribution-active-r': activeDelivery}" class="mt-3">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <i [ngClass]="{'fa-delivery-option': !activeDelivery, 'fa-delivery-option-active': activeDelivery}" class="fas fa-truck"></i>
    <p type="button" class="mb-0" data-bs-toggle="collapse" [attr.data-bs-target]="'#editStoreOptionCollapse'+i"><i class="fas fa-edit"></i></p>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <p class="date-delivery me-2">Llega entre el 20 y 24 de Mayo</p>
    <p class="price-delivery">${{cost}}</p>
  </div>
</div>

<!-- responsive end -->

<div *ngIf="activeDelivery" class="collapse collapse-store-option" [id]="'editStoreOptionCollapse'+i">
  <p class="mb-1 me-1 fs-6">Fecha para recibir el pedido:</p>
  <input class="input-date" type="date" min="2022-05-20" max="2022-06-21">
</div>

<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------- MODALS HERE -------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->

<div  class="modal fade" [id]="'pickUpOtherPersonModal'+i" tabindex="-1" aria-labelledby="pickUpOtherPersonModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changeDirectionLabel">Datos de quien lo va a retirar</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form [formGroup]="otherPickUpForm" (ngSubmit)="onSubmitPickUpOtherPerson()">
				<div class="modal-body">

					<mat-form-field appearance="outline">
						<mat-label>Nombre</mat-label>
						<input type="text" formControlName="name" matInput #name required>
						<mat-error *ngIf="name">{{getNameErrorMessage()}}</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Apellido</mat-label>
						<input type="text" formControlName="lastName" matInput #lastName required>
						<mat-error *ngIf="lastName">{{getLastNameErrorMessage()}}</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>RUT</mat-label>
						<input type="text" formControlName="rut" matInput #rut placeholder="12345678-9" maxlength="10" required>
						<mat-error *ngIf="rut">{{getRutErrorMessage()}}</mat-error>
					</mat-form-field>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-save">Guardar</button>
				</div>

			</form>
		</div>
	</div>
</div>

<div  class="modal fade" [id]="'changeUbicationStoreModal'+i" tabindex="-1" aria-labelledby="changeUbicationStoreModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changeDirectionLabel">Cambiar ubicación del local de retiro</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form [formGroup]="pickUpPointForm" (ngSubmit)="onSubmitChgPickUpPoint()">
				<div class="modal-body">
					<div class="form-floating mb-3">
						<select type="select" (change)="selectRegion()" [ngClass]="{'is-invalid': pickUpPointForm.value.region === '' && tryOnSubmitChgPickUpPoint}" class="form-select" formControlName="region" aria-label="Floating label select region" [value]="regionsAndCommunes.name" #region required>
							<option *ngIf="pickUpPointForm.value.region === ''" selected disabled>Selecione una región</option>
							<option *ngFor="let region of regionsAndCommunes">
								{{region.name}}
							</option>
						</select>
						<label for="floatingSelect">Región *</label>
						<div class="invalid-feedback">Seleccione una región</div>
					</div>

					<div class="form-floating mb-3">
						<select type="select" (change)="selectUbication()" [ngClass]="{'is-invalid': pickUpPointForm.value.commune === '' && tryOnSubmitChgPickUpPoint}" class="form-select" formControlName="commune" aria-label="Floating label select commune" [value]="commune" #commune required>
							<option *ngIf="pickUpPointForm.value.region === ''" selected disabled>Primero seleccione una región</option>
							<option *ngIf="pickUpPointForm.value.region  !== ''" selected>Selecione una comuna</option>
							<option *ngFor="let commune of communes">
								{{commune}}
							</option>
						</select>
						<label for="floatingSelect">Comuna *</label>
						<div class="invalid-feedback">Seleccione una comuna</div>
					</div>
					
					<div *ngFor="let data of pickUpPoints">
						<app-pick-up-point [data]="data" (dataSelectPoint)="receivePickUpPoint($event)"></app-pick-up-point>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-save" (click)="savePickUpPointModal()">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>