.type-distribution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #c4c4c4;
  padding: 1rem;
  cursor: pointer;
}
.type-distribution-r {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #c4c4c4;
  padding: 1rem;
  cursor: pointer;
}
.type-distribution-active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #9100F5;
  padding: 1rem;
  cursor: pointer;
}
.type-distribution-active-r {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #9100F5;
  padding: 1rem;
  cursor: pointer;
}
.fa-delivery-option {
  font-size: 25px;
  margin-right: 1rem;
}
.fa-delivery-option-active {
  font-size: 25px;
  margin-right: 1rem;
  color: #9100F5;
}
.date-store {
  font-size: large;
  margin-bottom: 0px;
}
.direction-store {
  font-size: larger;
  color: #6C757D;
  margin-bottom: 0px;
  font-weight: 300;
}
.price-free {
  font-size: larger;
  margin-bottom: 0px;
  font-weight: 500;
  color: green;
}
.price-delivery {
  font-size: larger;
  margin-bottom: 0px;
}
.date-delivery {
  font-size: large;
  margin-bottom: 0px;
}
.card {
  border-top-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-width: 2px;
  border-radius: 0px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
}
.product-img {
  width: 150px;
}
.info-product {
  font-size: 20px;
}
@media (max-width: 600px) {
  .type-distribution {
    display: none;
  }
  .type-distribution-active {
    display: none;
  }
  .product-img {
    width: 80px;
  }
  .info-product {
    font-size: 15px;
  }
}
@media (min-width: 601px) {
  .type-distribution-r {
    display: none;
  }
  .type-distribution-active-r {
    display: none;
  }
}
.modal-title {
  margin-bottom: 0px;
  font-size: larger;
}
.btn-save {
  background-color: #9100F5;
  color: white;
}
.btn-cancel {
  background-color: #adb5bd;
  color: white;
}
.btn-close:focus {
  box-shadow: none;
}
.btn-save:hover {
  background-color: #ceacea;
}
.btn-cancel:hover {
  background-color: #f1f2f3;
}
select:hover {
  box-shadow: none;
}
.mat-form-field {
  width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.collapse-pick-up-option {
  border-color: #9100F5;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
}
.form-check-input:checked {
  background-color: #9100F5;
  border-color: #9100F5;
  box-shadow: none;
}
.form-check-input:focus {
  border-color: #9100F5;
  box-shadow: none;
}
.other-person-data {
  margin-bottom: 0px;
  margin-left: 1.5em;
  color: #6C757D;
  margin-right: 0.5rem;
}
.collapse-store-option {
  border-color: #9100F5;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
}
