<div class="container-fluid">
    <footer class="d-none d-sm-flex flex-wrap justify-content-between align-items-center py-2">
        <img class="logo" src="/assets/img/logo ekomerce sin fondo.png">
        <p type="button" class="terms" href="#">Terminos y condiciones</p>
        <div>
            <p>Contactos:</p>
            <i type="button" class="fab fa-instagram-square"></i>
            <i type="button" class="fab fa-twitter"></i>
            <i type="button" class="fab fa-facebook-square"></i>
            <i type="button" class="fab fa-youtube"></i>
        </div>
    </footer>

    <!-- responsive start -->
    <footer class="d-block d-sm-none flex-wrap justify-content-between align-items-center py-2">
        <p type="button" class="terms" href="#">Terminos y condiciones</p>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <img class="logo" src="/assets/img/logo ekomerce sin fondo.png">
            <div>
                <div class="d-flex">
                    <i type="button" class="fab fa-instagram-square"></i>
                <i type="button" class="fab fa-twitter"></i>
                </div>
                <i type="button" class="fab fa-facebook-square"></i>
                <i type="button" class="fab fa-youtube"></i>
            </div>
        </div>
    </footer>
    <!-- responsive end -->

</div>