<div class="container-fluid">
    <footer class="d-none d-md-flex flex-wrap justify-content-between align-items-center py-2 border-top">
        <img class="logo" src="/assets/img/logo ekomerce sin fondo.png">
        <p type="button" class="terms" href="#">Terminos y condiciones</p>
        <div>
            <p>Contactos:</p>
            <i type="button" class="fab fa-instagram-square"></i>
            <i type="button" class="fab fa-twitter"></i>
            <i type="button" class="fab fa-facebook-square"></i>
            <i type="button" class="fab fa-youtube"></i>
        </div>
    </footer>
</div>