.example-form-field {
    width: 200px;
}
.information{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: blueviolet;
}
.body-information{
    padding: 0px;
}
.content{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    height: 100%;
}
mat-form-field{
    justify-content:center;
    align-items:center;
    display: flex;
    width: 100%;
}
.d-grid{
    justify-content:center;
    align-items:center;
    display: flex;
}
.content{
    justify-content:center;
    align-items:center;
    display: flex; 
}
