<app-navbar></app-navbar>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card payment my-4">
                    <h1 class="p-3 m-0">Metodos de pago</h1>
                </div>
                <div class="card personal-info my-4">
                    <div class="card-body">
                        <h3>No tienes ningún metodo de pago guardado </h3>
                        <div class="button-add">
                            <button type="button" class="btn btn-add">Agregar metodo de pago</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>