.card-body{
    align-items: center;
    text-align: center;
    height: 100%;
}

h3{
    justify-content:center;
    align-items:center;
    display: flex;
}
.button-add{
    justify-content:center;
    align-items:center;
    display: flex;
}
.btn-add{
    color: white;
    background-color: #9100F5;

}