.form-check {
  border-style: solid;
  border-color: #c4c4c4;
  border-radius: 5px;
  border-width: 1px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.form-check-input {
  margin-left: 0px;
  margin-right: 0.5rem;
  margin-top: 0px;
}
.form-check-input:checked {
  background-color: #9100F5;
  border-color: #9100F5;
  box-shadow: none;
}
.form-check-input:focus {
  border-color: #9100F5;
  box-shadow: none;
}
p {
  margin-bottom: 0px;
}
