.container{
    min-height: 100vh;
}
.form-field {
    width: 100%;
}
.information{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: blueviolet;
    cursor:pointer
}
.personal-info{
    border-width: 0px;
}

.body-information{
    padding: 0px;
}
.card-body{
    min-height: 800px;
}

.content{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    height: 100%;
}
mat-form-field{
    justify-content:center;
    align-items:center;
    width: 100%;
}
.d-grid{
    justify-content:center;
    align-items:center;
    display: flex;
}
.content{
    justify-content:center;
    align-items:center;
    display: flex; 
}
.input{
    justify-content:center;
    align-items:center;
    display: flex;
}


.button-save-info{
    justify-content:flex-end;
    align-items:flex-end;
    display: flex;
}
.btn-save-info{
    color: white;
    background-color: #9100F5;

}
.info-user-content{
    justify-content:center;
    display: flex;
}
.type-item{
    font-size: 18px;
    margin: 5px;
    padding: 10px;
}
.info-item{
    margin: 5px;
    padding: 10px;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: blueviolet;
    border-radius: 4px;
}
.item{
    width: 350px;
}
/////////////////////edit////////////////////
.button-edit{
    justify-content:flex-end;
    align-items:center;
    display: flex;
    margin-right: 10px;
}
