<app-navbar></app-navbar>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card personal-info my-4">
                    <div class="row">
                        <div class="col">
                            <h1 class="p-3 m-0">Datos Personales</h1>
                        </div>
                        <div class="button-edit col">
                              <i type="button" class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editPersonalInfo"></i>
                        </div>
                    </div>
                </div>
                
                <div class="card personal-info my-4">
                    <div class="card-body">
                        <form  [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                            <div class="row content">

                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" formControlName="name" [readonly]="true">
                                    </mat-form-field>
                                </div>
                                <div class="input col-12 col-xl-4 col-sm-6"> 
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Apellido Paterno</mat-label>
                                        <input matInput type="text" formControlName="lastNameP">
                                        
                                    </mat-form-field>
                                </div>
                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Apellido Materno</mat-label>
                                        <input matInput type="text" formControlName="lastNameM">
                                     
                                    </mat-form-field>
                                </div>
                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" formControlName="run">
                                      
                                    </mat-form-field>
                                </div>
                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Numero celular</mat-label>
                                        <input matInput type="text" formControlName="phone">
                                    
                                    </mat-form-field>
                                </div>
        
                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field  class="form-field mx-2" appearance="outline">
                                        <mat-label>Enter your email</mat-label>
                                        <input matInput placeholder="pat@example.com"  formControlName="email" required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                       <!--  <div class="button-save-info">
                            <button type="button" class="btn btn-save-info">Guardar</button>
                        </div> -->
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>


<!-- /////////////////////////////////////////////////modal///////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
-->
<div class="modal fade " id="editPersonalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title m-0" id="exampleModalLabel">Información personal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form  [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                <div class="row content p-0">

                    <div class="input col-12 ">
                        <mat-form-field class="form-field mx-2" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" formControlName="name">
                         
                        </mat-form-field>
                    </div>
                    <div class="input col-12 "> 
                        <mat-form-field class="form-field mx-2" appearance="outline">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput type="text" formControlName="lastNameP">
                        
                        </mat-form-field>
                    </div>
                    <div class="input col-12">
                        <mat-form-field class="form-field mx-2" appearance="outline">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput type="text" formControlName="lastNameM">
                         
                        </mat-form-field>
                    </div>
                    <div class="input col-12">
                        <mat-form-field class="form-field mx-2" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" formControlName="run">
                       
                        </mat-form-field>
                    </div>
                    <div class="input col-12">
                        <mat-form-field class="form-field mx-2" appearance="outline">
                            <mat-label>Numero celular</mat-label>
                            <input matInput type="text" formControlName="phone">
                        
                        </mat-form-field>
                    </div>

                    <div class="input col-12">
                        <mat-form-field  class="form-field mx-2" appearance="outline">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="pat@example.com"  formControlName="email" required>
                          
                        </mat-form-field>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="button-save-pw">
            <button type="button" class="btn btn-save-pw">Guardar</button>
        </div>
        </div>
      </div>
    </div>
  </div>