<app-navbar></app-navbar>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card my-4">
                    <h1 class="p-3 m-0">Datos Personales</h1>
                </div>
                <div class="card my-4">
                    <div class="card-body">
                        <form  [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                            <div class="row content">

                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" formControlName="name" [(ngModel)]="value">
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                        <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div class="input col-12 col-xl-4 col-sm-6"> 
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Apellido Paterno</mat-label>
                                        <input matInput type="text" formControlName="lastNameP" [(ngModel)]="value">
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                        <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Apellido Materno</mat-label>
                                        <input matInput type="text" formControlName="lastNameM" [(ngModel)]="value">
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                        <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" formControlName="run" [(ngModel)]="value">
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                        <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Numero celular</mat-label>
                                        <input matInput type="text" formControlName="phone" [(ngModel)]="value">
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                        <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
        
                                <div class="input col-12 col-xl-4 col-sm-6">
                                    <mat-form-field  class="form-field mx-2" appearance="outline">
                                        <mat-label>Enter your email</mat-label>
                                        <input matInput placeholder="pat@example.com"  formControlName="email" required>
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card my-4">
                    <h1 class="p-3 m-0">Cambiar contraseña</h1>
                </div>
                <div class="card my-4">
                    <div class="card-body">
                        <form  [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                            <div class="row content">

                                <div class="input col">
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" formControlName="name" [(ngModel)]="value">
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                        <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div class="input col"> 
                                    <mat-form-field class="form-field mx-2" appearance="outline">
                                        <mat-label>Apellido Paterno</mat-label>
                                        <input matInput type="text" formControlName="lastNameP" [(ngModel)]="value">
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                        <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>