<nav class="navbar">

    <div class="container-fluid d-none d-lg-flex">
        <div class="d-flex align-items-center">
            <div class="h1 c-mouse-selected me-2">Ekomerce</div>
            <button class="btn btn-menu bc-mouse-selected bc-mouse-focus btn-no-shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#categoryCanvas" aria-controls="categoryCanvas">
                <span><i class="fas fa-bars"></i></span>
            </button>
        </div>
        <form class="form-search-d">
            <div class="input-group">
                <input class="form-control btn-no-shadow" type="search" placeholder="Buscar producto" aria-label="Search" aria-describedby="searchButton">
                <button class="btn btn-search bc-mouse-selected btn-no-shadow" type="button" id="searchButton"> 
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
        </form>
        <div class="d-flex align-items-center">
            <div class="h5 c-mouse-selected" [routerLink]="['/visitor/login']">Iniciar Sesión</div>
            <div class="h5 c-mouse-selected" [routerLink]="['/visitor/register']">Registrarse</div>
            <span><i type="button" class="fas fa-shopping-cart c-mouse-selected mr-rem"></i></span>
        </div>
    </div>

    <!-- responsive start -->
    <div class="container-fluid d-bloc d-lg-none">
        <div class="d-flex align-items-center mb-1">
            <button class="btn btn-menu bc-mouse-selected bc-mouse-focus btn-no-shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#categoryCanvas" aria-controls="categoryCanvas">
                <span><i class="fas fa-bars"></i></span>
            </button>
            <div class="h1 c-mouse-selected ms-2">Ekomerce</div>
        </div>
        <div class="d-flex align-items-center">
            <span><i type="button" class="fas fa-sign-in-alt c-mouse-selected" [routerLink]="['/visitor/login']"></i></span>
            <span><i type="button" class="fas fa-shopping-cart c-mouse-selected"></i></span>
        </div>
        <form class="form-search-r">
            <div class="input-group">
                <input class="form-control btn-no-shadow" type="search" placeholder="Buscar producto" aria-label="Search" aria-describedby="searchButton">
                <button class="btn btn-search bc-mouse-selected btn-no-shadow" type="button" id="searchButton"> 
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
        </form>
    </div>
    <!-- responsive end -->

</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="categoryCanvas" aria-labelledby="categoryCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
