<nav class="navbar">

    <div class="container-fluid d-none d-lg-flex">
        <div class="d-flex align-items-center">
            <h1 class="ekomerce c-mouse-selected" [routerLink]="['/visitor/home']">Ekomerce</h1>
            <button class="btn btn-menu bc-mouse-selected btn-no-shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#categoryCanvas" aria-controls="categoryCanvas">
                <span><i class="fas fa-bars"></i></span>
            </button>
        </div>
        <form class="form-search-d">
            <div class="input-group">
                <input class="form-control btn-no-shadow" type="text" name="search" [(ngModel)]="enteredSearchValue" placeholder="Buscar producto" aria-label="Search" aria-describedby="searchButton">
                <button class="btn btn-search bc-mouse-selected btn-no-shadow" type="button" id="searchButton" (click)="onSearchTextChanged()"  (click)="onSearch()"> 
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
        </form>
        <div class="d-flex align-items-center">
            <h3 class="redirect c-mouse-selected" [routerLink]="['/visitor/login']">Iniciar Sesión</h3>
            <h3 class="redirect c-mouse-selected" [routerLink]="['/visitor/register']">Registrarse</h3>
        </div>
    </div>

    <!-- responsive start -->
    <div class="container-fluid d-flex d-lg-none">
        <div class="d-flex align-items-center mb-2">
            <button class="btn btn-menu bc-mouse-selected btn-no-shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#categoryCanvas" aria-controls="categoryCanvas">
                <span><i class="fas fa-bars"></i></span>
            </button>
            <h1 class="ekomerce c-mouse-selected ms-2 me-0" [routerLink]="['/visitor/home']">Ekomerce</h1>
        </div>
        <div class="d-md-flex d-none align-items-center mb-2">
            <h3 class="redirect c-mouse-selected" [routerLink]="['/visitor/login']">Iniciar Sesión</h3>
            <h3 class="redirect c-mouse-selected me-0" [routerLink]="['/visitor/register']">Registrarse</h3>
        </div>
        <div class="d-flex d-md-none align-items-center mb-2">
            <span><i type="button" class="fas fa-sign-in-alt c-mouse-selected" [routerLink]="['/visitor/login']"></i></span>
            <span type="button" [routerLink]="['/visitor/register']">
                <i class="fas fa-clipboard c-mouse-selected"></i>
                <i class="fas fa-user-plus"></i>
            </span>
        </div>
        <form class="form-search-r">
            <div class="input-group">
                <input class="form-control btn-no-shadow" type="search" placeholder="Buscar producto" aria-label="Search" aria-describedby="searchButton">
                <button class="btn btn-search bc-mouse-selected btn-no-shadow" type="button" id="searchButton"> 
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
        </form>
    </div>
    <!-- responsive end -->

</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="categoryCanvas" aria-labelledby="categoryCanvasLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Categorias</h4>
        <span type="button" class="material-icons button-close" data-bs-dismiss="offcanvas" aria-label="Close">close</span>
    </div>
    <div class="offcanvas-body p-1">
        <div class="accordion" id="accordionCategory">
           <div *ngFor="let category of categories; let idCollapse = index">
                <div class="accordion-item">
                    <h2 class="accordion-header d-flex align-items-center" [id]="'heading' + idCollapse">
                        <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+ idCollapse" aria-expanded="false" aria-controls="collapseOne">
                        </button>
                        {{category.name}}
                    </h2>
            
                    <div *ngFor="let subCategory of category.subCategories">
                        <div [id]="'collapse' + idCollapse" class="accordion-collapse collapse" aria-labelledby="headingSubCategory" data-bs-parent="#accordionSubCategory">
                            <app-navbar-tree [subCategory]="subCategory"> </app-navbar-tree>
                        </div>
                    </div>
                </div>

            </div> 
        </div>
    </div>
</div>

<router-outlet></router-outlet>
