.navbar {
  background-color: #9100F5;
}
.form-search-d {
  min-width: 150px;
  width: 40%;
}
.form-search-r {
  min-width: 150px;
  width: 100%;
}
.btn-search {
  background-color: #F2F3F4;
}
.h1 {
  cursor: pointer;
  color: white;
  margin-bottom: 0px;
}
.h5 {
  cursor: pointer;
  color: white;
  margin-bottom: 0px;
  margin-right: 1rem;
}
.fa-sign-in-alt {
  color: white;
  font-size: xx-large;
  margin-right: 0.5rem;
}
.fa-shopping-cart {
  color: white;
  font-size: xx-large;
}
.mr-rem {
  margin-right: 0.5rem;
}
.btn-menu {
  background-color: white;
  color: #9100F5;
  line-height: 0;
  padding: 5px 8px 5px 8px;
  font-size: x-large;
}
.bc-mouse-selected:hover {
  background-color: #ceacea;
}
.bc-mouse-focus:focus {
  background-color: #ceacea;
}
.btn-no-shadow:focus {
  box-shadow: none;
}
.c-mouse-selected:hover {
  color: #ceacea;
}
